USE [master]
GO
/****** Object:  Database [discogs]    Script Date: 8/23/2019 9:32:47 PM ******/
CREATE DATABASE [discogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'discogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\discogs.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'discogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\discogs_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [discogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [discogs]
GO
USE [discogs]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDecade]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDecade] (@input INT)
RETURNS nvarchar(5)
AS BEGIN
	RETURN CASE 
		WHEN @input >= 1950 AND @input < 1960 THEN '1950s'
		WHEN @input >= 1960 AND @input < 1970 THEN '1960s'
		WHEN @input >= 1970 AND @input < 1980 THEN '1970s'
		WHEN @input >= 1980 AND @input < 1990 THEN '1980s'
		WHEN @input >= 1990 AND @input < 2000 THEN '1990s'
		WHEN @input >= 2000 AND @input < 2010 THEN '2000s'
		WHEN @input >= 2010 AND @input < 2020 THEN '2010s'
		ELSE '1800s'
	END
END
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreName] [varchar](40) NOT NULL,
 CONSTRAINT [XPKGenre] PRIMARY KEY CLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Master]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master](
	[IdMaster] [int] NOT NULL,
	[Have] [int] NULL,
	[Want] [int] NULL,
	[Published] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[TrackCount] [int] NULL,
 CONSTRAINT [XPKMaster] PRIMARY KEY CLUSTERED 
(
	[IdMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterGenre]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterGenre](
	[GenreName] [varchar](40) NOT NULL,
	[IdMaster] [int] NOT NULL,
 CONSTRAINT [XPKMasterGenre] PRIMARY KEY CLUSTERED 
(
	[GenreName] ASC,
	[IdMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterStyle]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterStyle](
	[StyleName] [varchar](40) NOT NULL,
	[IdMaster] [int] NOT NULL,
 CONSTRAINT [XPKMasterStyle] PRIMARY KEY CLUSTERED 
(
	[StyleName] ASC,
	[IdMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Release]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Release](
	[IdRelease] [int] NOT NULL,
	[Have] [int] NULL,
	[Want] [int] NULL,
	[Published] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[TrackCount] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[RatingCount] [int] NULL,
	[RatingValue] [float] NULL,
	[Format] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Duration] [int] NULL,
	[IdMaster] [int] NULL,
 CONSTRAINT [XPKRelease] PRIMARY KEY CLUSTERED 
(
	[IdRelease] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseGenre]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseGenre](
	[IdRelease] [int] NOT NULL,
	[GenreName] [varchar](40) NOT NULL,
 CONSTRAINT [XPKReleaseGenre] PRIMARY KEY CLUSTERED 
(
	[IdRelease] ASC,
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseStyle]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseStyle](
	[IdRelease] [int] NOT NULL,
	[StyleName] [varchar](40) NOT NULL,
 CONSTRAINT [XPKReleaseStyle] PRIMARY KEY CLUSTERED 
(
	[IdRelease] ASC,
	[StyleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 8/23/2019 9:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[StyleName] [varchar](40) NOT NULL,
 CONSTRAINT [XPKStyle] PRIMARY KEY CLUSTERED 
(
	[StyleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MasterGenre]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([GenreName])
REFERENCES [dbo].[Genre] ([GenreName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MasterGenre] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[MasterGenre]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([IdMaster])
REFERENCES [dbo].[Master] ([IdMaster])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MasterGenre] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[MasterStyle]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([IdMaster])
REFERENCES [dbo].[Master] ([IdMaster])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MasterStyle] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[MasterStyle]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([StyleName])
REFERENCES [dbo].[Style] ([StyleName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MasterStyle] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[Release]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([IdMaster])
REFERENCES [dbo].[Master] ([IdMaster])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Release] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[ReleaseGenre]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([IdRelease])
REFERENCES [dbo].[Release] ([IdRelease])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReleaseGenre] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[ReleaseGenre]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([GenreName])
REFERENCES [dbo].[Genre] ([GenreName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReleaseGenre] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[ReleaseStyle]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([StyleName])
REFERENCES [dbo].[Style] ([StyleName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReleaseStyle] CHECK CONSTRAINT [R_7]
GO
ALTER TABLE [dbo].[ReleaseStyle]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([IdRelease])
REFERENCES [dbo].[Release] ([IdRelease])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReleaseStyle] CHECK CONSTRAINT [R_8]
GO
USE [master]
GO
